<link
  href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css"
  rel="stylesheet"
  integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x"
  crossorigin="anonymous"
/>
{{items}}

<div class="row">
  {{#each items}}
    <div style="color: black;" class="col md 3">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">
            {{title}}
          </h4>
          <h4 class="card-username">
            {{username}}
          </h4>
        </div>
      </div>
    </div>
  {{/each}}
</div>

<script
  src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
  crossorigin="anonymous"
></script>