<div class="container">
  <div class="forms-container">
    <div class="signin-signup">
      <form action="/items/new-item" method="POST" class="sign-in-form">
        <h2 class="title">Add Item</h2>
        <div class="input-field">
          <i class="fas fa-user"></i>
          <input
            name="title"
            type="text"
            placeholder="Title"
            autofocus
            required
          />
        </div>
        <div class="input-field">
          <i class="fas fa-user"></i>
          <input name="username" type="text" placeholder="Username" required />
        </div>
        <div class="input-field">
          <i class="fas fa-lock"></i>
          <input
            name="password"
            type="password"
            placeholder="Password"
            required
          />
        </div>
        <div class="input-field">
          <i class="fas fa-user"></i>
          <input name="url" type="text" placeholder="URL" required />
        </div>
        <div class="input-field">
          <i class="fas fa-user"></i>
          <input name="commentary" type="text" placeholder="Commentary" />
        </div>
        <button class="btn solid" type="submit">Save</button>
      </form>
    </div>
  </div>

  <div class="panels-container">
    <div class="panel left-panel">
      <img
        style="border-radius: 250px; border: 15px solid; color: #11101D"
        src="/img/6.png"
        class="image"
        alt=""
      />
    </div>
  </div>
</div>