<title>Password Manager Application</title>
<div class="container">
  <div class="forms-container">
    <div class="signin-signup">
      <form id="form_login" action="#" class="sign-in-form">
        <h2 class="title">Log in</h2>
        <div class="input-field">
          <i class="fas fa-user"></i>
          <input id="login_username" type="text" placeholder="Username" />
        </div>
        <div class="input-field">
          <i class="fas fa-lock"></i>
          <input id="login_password" type="password" placeholder="Password" />
        </div>
        <input
          onclick="login()"
          type="button"
          value="Log in"
          class="btn solid"
        />
      </form>
      <form action="#" class="sign-up-form">
        <h2 class="title">Sign up</h2>
        <div class="input-field">
          <i class="fas fa-user"></i>
          <input
            id="signup_username"
            type="text"
            placeholder="Username"
            required
          />
        </div>
        <div class="input-field">
          <i class="fas fa-address-card"></i>
          <input id="signup_name" type="text" placeholder="Name" required />
        </div>
        <div class="input-field">
          <i class="fas fa-lock"></i>
          <input
            id="signup_password"
            type="password"
            placeholder="Password"
            required
          />
        </div>
        <input
          type="button"
          class="btn"
          value="Sign up"
          onclick="registerUser()"
        />
      </form>
    </div>
  </div>

  <div class="panels-container">
    <div class="panel left-panel">
      <div class="content">
        <h3>Sign Up?</h3>
        <p>Create an account with us</p>
        <button class="btn transparent" id="sign-up-btn">Sign up</button>
      </div>
      <img
        style="border-radius: 250px; border: 15px solid; color: #11101D"
        src="/img/6.png"
        class="image"
        alt=""
      />
    </div>
    <div class="panel right-panel">
      <div class="content">
        <h3>Log in?</h3>
        <p>Login to the platform</p>
        <button class="btn transparent" id="sign-in-btn">Sign in</button>
      </div>
      <img
        style="border-radius: 250px; border: 15px solid; color: #11101D"
        src="/img/7.jpg"
        class="image"
        alt=""
      />
    </div>
  </div>
</div>

<script src="/main/app.js"></script>
<!-- <script src="js/main/main.js"></script> -->