* {
  font-family: sans-serif; /* Change your font family */
}

.content-table {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  min-width: 600px;
  border-radius: 10px 5px 0 0;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  align-items: top;
  justify-content: center;
}

.content-table thead tr {
  background-color: #e23e57;
  color: #ffffff;
  text-align: left;
  font-weight: bold;
  justify-content: center;
}


.content-table th,
.content-table td {
  padding: 10px 15px;
  justify-content: left;
}

.content-table tbody tr {
  border-bottom: 1px solid #dddddd;
  justify-content: left;
}

.content-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.content-table tbody tr:last-of-type {
  border-bottom: 2px solid #e23e57;
}

.content-table tbody tr.active-row {
  font-weight: bold;
  color: #e23e57;
}
