<!DOCTYPE html>
<!-- Created By CodingLab - www.codinglabweb.com -->
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  
    <div class="sidebar">
      <div class="logo_content">
        <div class="logo">
          <i <i class='bx bxs-face-mask'></i></i>
        </div>
        <i class="bx bx-menu" id="btn"></i>
      </div>
      
    </div>

    <div class="home_content">
      {{!-- <div class="text">HERE IS THE BODY OF WORK!!!! :)</div> --}}
      {{{ body }}}
    </div>

    <script>
      let btn = document.querySelector("#btn");
      let sidebar = document.querySelector(".sidebar");
      let searchBtn = document.querySelector(".bx-search");

      btn.onclick = function () {
        sidebar.classList.toggle("active");
        if (btn.classList.contains("bx-menu")) {
          btn.classList.replace("bx-menu", "bx-menu-alt-right");
        } else {
          btn.classList.replace("bx-menu-alt-right", "bx-menu");
        }
      };
    </script>
    
</html>
