<!DOCTYPE html>
<!-- Created By CodingLab - www.codinglabweb.com -->
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8" />
    <!--<title> Responsive Sidebar Menu  | CodingLab </title>-->
    <link rel="stylesheet" href="nav_styles.css" />
    <!-- Boxicons CDN Link -->
    <link
      href="https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css"
      rel="stylesheet"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>

  <body>
    <div class="sidebar">
      <div class="logo_content">
        <div class="logo">
          <i <i class='bx bxs-face-mask'></i></i>
          <div class="logo_name">Juan Duran</div>
        </div>
        <i class="bx bx-menu" id="btn"></i>
      </div>
      <ul class="nav_list">
        <li>
          <a href="#">
            <i class='bx bx-bookmarks' ></i>
            <span class="links_name">All Items</span>
          </a>
          <span class="tooltip">All Items</span>
        </li>
        <li>
          <a href="#">
            <i class='bx bx-bookmark' ></i>
            <span class="links_name">Add item</span>
          </a>
          <span class="tooltip">Add Item</span>
        </li>
        <li>
          <a href="#">
            <i class='bx bx-library' ></i>
            <span class="links_name">All Tags</span>
          </a>
          <span class="tooltip">All Tags</span>
        </li>
        <li>
          <a href="#">
            <i class='bx bx-purchase-tag-alt' ></i>
            <span class="links_name">Add Tags</span>
          </a>
          <span class="tooltip">Add Tags</span>
        </li>
        <li>
          <a href="#">
            <i <i class='bx bx-log-out' ></i></i>
            <span class="links_name">Sign out</span>
          </a>
          <span class="tooltip">Sign out</span>
        </li>
      </ul>
    </div>

    <div class="home_content">
      <div class="text">HERE IS THE BODY OF WORK!!!! :)</div>
    </div>

    <script>
      let btn = document.querySelector("#btn");
      let sidebar = document.querySelector(".sidebar");
      let searchBtn = document.querySelector(".bx-search");

      btn.onclick = function () {
        sidebar.classList.toggle("active");
        if (btn.classList.contains("bx-menu")) {
          btn.classList.replace("bx-menu", "bx-menu-alt-right");
        } else {
          btn.classList.replace("bx-menu-alt-right", "bx-menu");
        }
      };
      searchBtn.onclick = function () {
        sidebar.classList.toggle("active");
      };
    </script>
  </body>
</html>
